body {
    font-family: Arial, sans-serif;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.admission-container {
    background-color:lightgoldenrodyellow;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}
.admission-form h2 {
    margin-bottom: 20px;
    color:black;
}
.input-group {
    margin-bottom: 15px;
    text-align: left;
}
.input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.input-group input,
.input-group select,
.input-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid black;
    border-radius: 5px;
}
.input-group textarea {
    height: 80px;
    resize: none;
}
button {
    width: 100%;
    padding: 10px;
    background-color: green;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background:gray;
}
